@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

body {
	background-color: #f9fffa;
}
.heading {
	font-family: 'Noto Serif Display', serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

.subHeading {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.select2_selection {
	&__control {
		cursor: pointer !important;
		margin: 0px;
		border-radius: 10px !important;
		border-top-right-radius: 0px !important;
		border-bottom-right-radius: 0px !important;
		min-height: 40px !important;
		background-color: white !important;
		border: 1px solid #81d8d0 !important;
		color: black !important;
		font-size: 18px !important;
		width: 220px;
		&--is-focused {
			border-color: transparent !important;
			box-shadow: 0 0 0 1px rgba(#81d8d0, 0.3) !important;
		}
	}

	&__menu {
		background-color: white !important;
		border-radius: 10px !important;
		width: 200% !important;

		&-list {
			padding: 0 !important;
			border-radius: 10px !important;
		}

		&-notice {
			color: black !important;
		}
	}

	&__option {
		&--is-focused {
			background-color: darken(#81d8d0, 7%) !important;
		}
		&--is-selected {
			background-color: darken(#81d8d0, 8%) !important;
		}
	}

	&__indicator,
	&__indicator:hover {
		color: black !important;
	}

	&__placeholder {
		font-family: 'Open Sans', sans-serif !important;
		font-optical-sizing: auto !important;
		font-weight: 400 !important;
		font-style: normal !important;
		font-variation-settings: 'wdth' 100 !important;
		color: #767676 !important;
		margin-left: 6px !important;
		text-align: left;
		font-size: 15px;
	}

	&__single-value {
		color: black !important;
	}

	&__input {
		color: black !important;
	}
}

.loader {
	border-radius: 7px;
}
